#banner {
    margin: auto;
    width: 80%;
    left: 0px;
    right: 0px;
}

#banner img{
    width: 100%;
    left: 0px;
    right: 0px;
    background-image: url("./foodbuddyDEMO.jpg");
    height: 300px;
}