#banner img{
    width: 350px;
    float: right;
    background-image: url("./foodbuddyDEMO.jpg");
}

ul {
    text-align: left;
}

li {
    list-style: none;
}

.mainContainer {
    padding: 15px;
    margin: 15px;
    text-align: left;
}